{% extends 'base.html.twig' %}

{% block title %}Série #{{ season.id }}{% endblock %}

{% block body %}
    <h1> Episode :  {{ episode.number }}, Saison {{season.number }} de {{ program.title }}</h1>
    <p>{{ episode.synopsis }}</p>

    <a href="{{ path('program_season_show', {program: program.id, season: season.id}) }}">
        Retour à la liste des saisons
    </a>
    <br>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
    <br>
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}